body {
  margin: 0;
  overflow: hidden;
  background: #000;
}
#loading {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  color: #0ff;
  font-family: monospace;
  font-size: 20px;
}
canvas {
  display: block;
}
